html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-2-color: #2F303A;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.section {
    padding: 94px 0px;
}
.flex {
    display: flex;
}
.h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}
body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
body ul {
    list-style-type: none;
    padding: 0;
}
.nav > ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    margin: 0;
}
.nav li:not(:last-child) {
    margin-right: 50px;
}
.h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin: 0;
}
.header {
    padding: 24px 0px 25px 0px;
    border-bottom: 1px solid #ECECEC;
}
.head.container {
    align-items: center;
    padding: 0px 15px 0px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    justify-content: space-between;
}
.footer {
    background-color: var(--background-2-color);
}
.hero {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
    background-size: contain;
}
.section.hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),url("../images/img-back-hero.jpg");
    background-repeat: no-repeat;
    max-width: 1600px;
    padding: 200px 0px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.main-text {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}
.benefits {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    grid-gap: 30px;
}
.benefits li {
    width: 270px;
}
.benefits p {
    margin: 0;
}
.container.examples {
    flex-direction: column;
}
.examples h2 {
    margin-bottom: 50px;
}
.section.example {
    padding-top: 0;
}
.examples.flex {
    grid-gap: 30px;
    margin: 0;
}
.examples img {
    display: block;
}
.examples div {
    position: relative;
}
.examples h3 {
    color: #FFFFFF;
    text-align: center;
    padding: 27px 0px;
    margin: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
}
.team {
    background-color: #F5F4FA;
}
.team .h2 {
    margin-bottom: 50px;
}
.team-team {
    grid-gap: 30px;
    margin: 0;
}
.team-team > li {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teammate {
    text-align: center;
    padding: 30px 0px 16px 0px;
}
.teammate h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 0px 0px 10px 0px;
}            
.teammate p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
}
.footer {
    color: #FFFFFF;
    padding: 60px 0px;
}
.footer h3 {
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}
.footer > div {
    flex-direction: column;
}
.footer .container {
    flex-direction: row
}
.pf-buttons {
    justify-content: center;
    margin: 0px 0px 50px 0px;
}
.portfolio {
    margin: 0;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    grid-gap: 30px;
}
.portfolio h2 {
    text-align: left;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio p {
    margin: 0;
}
.portfolio .pf-item {
    flex-direction: column;
}
.pf-item {
    transition-property: box-shadow, height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-item img {
    display: block;
}
.thumb {
    position: relative;
}
.pf-overlay {
    transition-property: height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    bottom: 0;
    width: 100%;
    height: 0;
    padding: 0px 24px 0px 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    align-items: center;
}
.pf-item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pf-item:hover .pf-overlay {
    height: 294px;
}
.card-footer {
    flex-direction: column;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.card-footer .h2 {
    margin-bottom: 4px;
}
.logo {
    color: var(--primary-text-color);
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-style: normal;
    margin-right: 93px;
    padding: 0px;
}
.logo-color1 {
    color: var(--accent-color);
}
.logo-f-container {
    margin: 0;
}
.logo-f-container .link:first-child {
    margin: 0;
}
.logo-f-container .link{
    margin: 9px 0 0 0;
}
.logo-f {
    display: block;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.logo.logo-f {
    margin-right: 0;
}
.link {
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
}
.link.current {
    position: relative;
    color: var(--accent-color);
}
.link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -33.2px;
    background-color: var(--accent-color);
}
.link.contact {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    margin-left: 30px;
    align-items: center;
}
.icon-contact {
    margin-right: 10px;
}
.link.contact-f {
    color: #FFFFFF99;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.link-white {
    color: #FFFFFF;
}
.button {
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
    border: 1px;
    border-radius: 4px;
    padding: 6px 22px;
}
.button:hover, 
.button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.form:hover,
.button.form:focus {
    background-color: #188CE8;
}
.btn {
    margin-right: 8px;
}
.btn:last-child {
    margin-right: 0px;
}
.button.hero {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    height: 50px;
    min-width: 200px;
    border: 1px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.form-2 {
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}
.button.form-2:hover,
.button.form-2:focus {
    background-color: #188CE8;;
}
.no-display {
    display: none;
}
.sec-text {
    color: var(--secondary-text-color);
}
.icon-bn {
    background-color: #F5F4FA;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.social-team {
    grid-gap: 10px;
    padding: 0px 32px 30px 32px;
}
.social-team a {
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
}
.social-team a:hover,
.social-team a:focus {
    background-color: var(--accent-color);
    fill: var(--background-color);
}
.client h2 {
    margin-bottom: 50px;
}
.clients {
    grid-gap: 30px;
}
.clients a {
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    cursor: pointer;
    width: 170px;
    height: 92px;
    background-color: var(--background-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}
.clients a:hover,
.clients a:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.social-team-f {
    grid-gap: 10px;
    margin: 0;
}
.social-team-f a {
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: #FFFFFF;
}
.social-team-f a:hover,
.social-team-f a:focus {
    background-color: var(--accent-color);
    fill: var(--background-color);
}
.invite {
    padding: 12px 0px 40px 0px;
    margin-left: 70px;
}
.invite h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-modal {
    position: absolute;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FFFFFF;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    right: 8px;
    top: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}
.btn-modal:hover,
.btn-modal:focus {
    fill: var(--accent-color);
}
.backdrop p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    margin: 0 0 12px 0;
}
.backdrop form {
    flex-direction: column;
}
.backdrop label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.backdrop .user-agr {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.name {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
}
.phone {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
}
.email {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
}
.comment {
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 12px 16px;
}
.comment::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal label:nth-child(4) {
    margin-bottom: 20px;
}
.modal input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal input:focus,
.modal input:focus + svg:not(.no-display),
.modal textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.modal textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal div {
    position: relative;
}
.modal-ico {
    position: absolute;
    top: 20px;
    left: 21px;
    transform: translate(-50%, -50%);
}
.label-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;
}
.user-agr input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
}
.icon0 {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}
.checkbox:checked + svg {
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    fill: #FFFFFF;
}
.checkbox:checked ~ .icon0 {
    display: none;
}
.user-agr-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 7px;
    color: #757575;
}
.user-agr-link {
    color: var(--accent-color);
}
.subscribe {
    padding: 12px 0px 40px 0px;
    margin-left: 93px;
}
.subscribe label {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}
.subscribe input {
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--background-2-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}
.subscribe button {
    display: flex;
    margin-left: 12px;
    height: 50px;
    min-width: 200px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}
.subscribe p {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}